footer
   .container
      .footer__contacts
         .location__box
            .footer__location
               h4 Location
               p.footer__adress 3481 Melrose Place Beverly Hills, CA 90210
         .footer__networcs
            h4 Share with Love
            .profiles__item 
               .profiles__socialNetworks
                  +socialNetworks("facebook", "facebook.png", "facebook.svg")
                  +socialNetworks("twitter", "twitter.png", "twitter.svg")
                  +socialNetworks("instagram", "instagram.png", "instagram.svg")
            
         .footer__about
            h4 About ActiveBox
            p.footer__adress Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.
   .footer__copyrightBG
      .footer__copyright 
         span.grey Copyright © 2015 ActiveBox. All Rights Reserved Made with 
         img(src="./img/like.svg", alt="heart")  
         span.white     by Kamal Chaneman
         

      