section.advantages
   .container
      .features
         .advantages__item
            .advantages__img
               img(src="./img/iconOffice.png", alt="iconOffice")
            .advantages__name
               h3 Easily Customised
            .advantages__content
               p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
         .advantages__item
            .advantages__img
               img(src="./img/iconMonitor.png", alt="iconMonitor")
            .advantages__name
               h3 Responsive REady
            .advantages__content
               p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla

         .advantages__item
            .advantages__img
               img(src="./img/iconLamp.png", alt="iconLamp")
            .advantages__name
               h3 Modern Design
            .advantages__content
               p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla

         .advantages__item
            .advantages__img
               img(src="./img/iconAtom.png", alt="iconAtom")
            .advantages__name
               h3 Clean Code
            .advantages__content
               p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
         .advantages__item
            .advantages__img
               img(src="./img/iconPortfolio.png", alt="iconPortfolio")
            .advantages__name
               h3 Ready to Ship
            .advantages__content
               p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
         .advantages__item
            .advantages__img
               img(src="./img/iconCloud.png", alt="iconCloud")
            .advantages__name
               h3 Download for Free
            .advantages__content
               p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla