.clients
   img(src="./img/client.png", alt="" class='clients__photo')

   
   .clients__text
      p.clients__quote “Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam...”
      p.clients__signature Susan Sims, Interaction Designer at XYZ




