header.header
   .container
      .header__section
         nav.header__nav
            .header__logo
               img(src="./img/logo.png", alt="logo")
            .header__menu
               a.header__menuItem Features
               a.header__menuItem works
               a.header__menuItem 
                  nobr our team
               a.header__menuItem testimonials
               a.header__menuItem downloads
            .button-box
               button.header__burger

         .header__content
            h1 Your Favorite One Page  Multi Purpose Template
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna  vel scelerisque nisl consectetur et. 
         button.header__button find out more