header.header
   .container
      .header__section
         nav.header__nav
            .header__logo
               img(src="./img/logo.png", alt="logo")
            .header__menu
               a.header__menuItem(data-scroll="#feautures") Features
               a.header__menuItem(data-scroll="#works") works
               a.header__menuItem(data-scroll="#team") 
                  nobr our team
               a.header__menuItem(data-scroll="#testimonials") testimonials
               a.header__menuItem(data-scroll="#downloads") downloads
            .button-box
               button.header__burger

         .header__content
            h1 Your Favorite One Page  Multi Purpose Template
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna  vel scelerisque nisl consectetur et. 
         button.header__button find out more