section.profiles
   .container
      .social
            +profiles('Ruth Woods', 'Founder, CEO', 'socialIcon1.png')
            +profiles('Timothy Reed', 'Co-Founder, Developer', 'socialIcon2.png')
            +profiles('Victoria Valdez', 'UI Designer', 'socialIcon3.png')
            +profiles('Beverly Little', 'Data Scientist', 'socialIcon4.png')