section.works.sect#works
   .examples
      .works__item
         .works__bg
            .works__title Project Name
            .works__text User Interface Design
         img(src="./img/work1.png", alt="img").works__item

      .works__item
         .works__bg
            .works__title Project Name
            .works__text User Interface Design
         img(src="./img/work2.png", alt="img").works__item

      .works__item
         .works__bg
            .works__title Project Name
            .works__text User Interface Design
         img(src="./img/work3.png", alt="img").works__item

      .works__item
         .works__bg
            .works__title Project Name
            .works__text User Interface Design
         img(src="./img/work4.png", alt="img").works__item

      .works__item
         .works__bg
            .works__title Project Name
            .works__text User Interface Design
         img(src="./img/work5.png", alt="img").works__item

      .works__item
         .works__bg
            .works__title Project Name
            .works__text User Interface Design
         img(src="./img/work6.png", alt="img").works__item

      .works__item
         .works__bg
            .works__title Project Name
            .works__text User Interface Design
         img(src="./img/work7.png", alt="img").works__item

      .works__item
         .works__bg
            .works__title Project Name
            .works__text User Interface Design
         img(src="./img/work8.png", alt="img").works__item


//- .slider
//-    .slider__item
//-       img(src="./img/work1.png", alt="df" class='imgSlider')

//-    .slider__item
//-       img(src="./img/work2.png", alt="df" class='imgSlider')

//-    .slider__item
//-       img(src="./img/work3.png", alt="df" class='imgSlider')

//-    .slider__item
//-       img(src="./img/work4.png", alt="df" class='imgSlider')

//-    .slider__item
//-       img(src="./img/work5.png", alt="df" class='imgSlider')
