mixin profiles(name, profession, photo)
   .profiles__item    
            
      .profiles__photo
         img.profiles__img(src="./img/" + photo, alt="socialIcon")
                  
      .profiles__name
         h3 #{name}
               
      .profiles__profession   
         h4 #{profession}

      .profiles__description
         p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
               
         .profiles__socialNetworks
            +socialNetworks("facebook", "facebook.png", "facebook.svg")
            +socialNetworks("twitter", "twitter.png", "twitter.svg")
            +socialNetworks("instagram", "instagram.png", "instagram.svg")