@media (max-width: 1200px) {
  .header__content {
    padding: 50px 0 35px;
  }

  button.header__button,
  .press button.download__btn {
    margin-bottom: 90px;
  }
  .examples .works__item {
    // min-height: 232px;
    height: none;
    width: none;
  }
  .profiles .container .social .profiles__item {
    display: flex;
    flex-basis: auto;
    padding-bottom: 60px;
    .profiles__photo {
      margin-right: 30px;
      margin-left: 20px;
    }
  }
  .profiles .container .social .profiles__item .profiles__name {
    h3 {
      top: 0;
      left: 20px;
      // transform: translateY(-50%);
      padding: 0;
      margin: 0;
    }
  }
  .profiles .container .social .profiles__item .profiles__profession {
    h4 {
      left: 20px;
      top: calc(50% - 40px);
    }
  }
  .profiles .container .social .profiles__item .profiles__description p {
    // position: relative;
    padding-left: 10px;
  }
  .profiles .container .social .profiles__item .profiles__socialNetworks {
    position: relative;
    left: 0px;
    top: 0;
    margin: 0;
  }
  .profiles .container .social .profiles__item .profiles__description {
    margin: 0;
  }
}

@media (max-width: 970px) {
  .header__nav .button-box {
    display: flex;
  }
  .header__content h1 {
    font-size: 46px;
  }
  .header__content p {
    font-size: 17px;
  }
  .clients .clients__text {
    height: 400px;
  }
  .profiles__img {
    max-width: 200px;
  }
  .clients .clients__text {
    padding: 15px 40px;
  }
  .rewiews .wrapper__slider .clients .clients__text {
    padding: 15px 25px;
  }
  .rewiews .wrapper__slider .clients .clients__text p.clients__quote {
    font-size: 26px;
  }
  .rewiews .wrapper__slider .clients img.clients__photo,
  .rewiews .wrapper__slider .clients .clients__text {
    width: 100vw;
    flex-basis: 100vw;
    display: block;
    height: auto;
  }
  .slick-arrow {
    width: 30px;
    height: 30px;
    border-top: 5px solid #eee;
    border-right: 5px solid #eee;
  }
  .slick-arrow.slick-next {
    right: 5%;
  }
  .rewiews .wrapper__slider .clients {
    display: block;
  }

  .clients .clients__text p.clients__quote {
    font-size: 27px;
  }
  .profiles .container .social {
    padding-bottom: 40px;
  }
  .advantages__item .advantages__content {
    max-width: 190px;
  }
  .profiles .container .social .profiles__item {
    display: flex;
    flex-basis: auto;
    padding-bottom: 30px;
  }
  .profiles .container .social .profiles__item .profiles__description p {
    // position: relative;
    // padding: 0 35px 0 30px;
  }
  .profiles .container .social .profiles__item .profiles__socialNetworks {
    top: -12px;
    left: 15px;
  }
  .examples .works__item {
    // min-height: 185px;
  }
  .examples .works__item {
    flex-basis: 50%;
  }
  .header__nav .header__menu {
    display: none;
  }
  .header__nav .header__menu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0 40px;
    background-color: #272c4a;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 9;
    & > a.header__menuItem {
      width: 45%;
      margin: 10px 0;
      padding: 10px 0;
    }
  }
  .header__nav .header__menu.active > a.header__menuItem {
    width: 45%;
    margin: 7px 0;
    padding: 2px 0;
  }
  .header__nav .header__menu.active {
    padding: 25px 0 25px;
  }
}
@media (max-width: 767px) {
  .features {
    padding: 50px 0 50px;
  }
  .rewiews .wrapper__slider .clients .clients__text p.clients__quote {
    font-size: 20px;
  }
  .clients {
    display: block;
    padding: 0;
    margin: 0;
    height: auto;
  }
  .examples .works__item {
    flex-basis: 33.333%;
    height: 23vw;
  }

  .clients img.clients__photo {
    display: block;
    width: 100%;
    height: auto;
  }
  .clients .clients__text {
    display: block;
    width: 100%;
    height: auto;
    padding: 50px 20px;
  }

  .clients .clients__text p.clients__quote {
    padding: 0;
    margin: 0;
    height: auto;
  }

  .press h3.download__title {
    font-size: 23px;
  }

  .press button.download__btn {
    width: 240px;
  }
  .press {
    padding: 40px 0;
  }
  .clients .clients__text p.clients__quote {
    font-size: 23px;
  }
  .profiles__img {
    max-width: 140px;
  }
  .examples .works__item {
    // min-width: 287px;
  }
  .advantages__item {
    flex-basis: 50%;
    margin-bottom: 5px;
  }

  .advantages__item img {
    max-width: 50px;
    margin-bottom: 0;
  }
  .advantages__item .advantages__img {
    margin-bottom: 0;
  }
  .advantages__item .advantages__content {
    max-width: 250px;
    font-size: 13px;
  }
  .advantages__item h3 {
    font-size: 13x;
  }
  .profiles__description {
    // display: block;
    // position: static;
  }
  .profiles .container .social .profiles__item {
    // display: flex;
    // flex-direction: column;
    // width: 100%;
    // flex-basis: 100%;

    // position: relative;
  }
  .profiles .container .social .profiles__item .profiles__description p {
    // padding: 0;
    margin: 20px 10px;
    text-align: justify;
    // position: relative;
    // position: static;
    display: block;
  }
  .profiles .container .social .profiles__item .profiles__name {
    top: -130px;
    // position: relative;
    left: 170px;
    display: block;
    position: static;
  }
  .profiles .container .social .profiles__item .profiles__profession {
    // position: relative;
    top: -45px;
    left: 170px;
    display: block;
    position: static;
  }
  .profiles .container .social .profiles__item .profiles__socialNetworks {
    // position: absolute;
  }
  .press button.download__btn {
    margin-bottom: 20px;
  }
  footer .container .footer__contacts {
    padding: 50px 0 50px;
  }
  footer .container .footer__contacts .footer__about p.footer__adress,
  footer
    .container
    .footer__contacts
    .location__box
    .footer__location
    p.footer__adress {
    font-size: 13px;
  }
  .header__nav .header__menu.active > a.header__menuItem {
    margin: 5px 0;
    padding: 1px 0;
  }
  .header__nav .header__menu.active {
    padding: 15px 0 15px;
  }
}
@media (max-width: 575px) {
  .examples .works__item {
    flex-basis: 50%;
    height: 36vw;
  }
  .advantages__item {
    flex-basis: 100%;
  }
  .advantages__item .advantages__content {
    max-width: 100%;
    padding: 0 15px;
  }
  .advantages__item img {
    max-width: 35px;
  }
  .advantages__item h3 {
    font-size: 13x;
    margin: 10px 0 0 0;
  }
  .profiles .container .social .profiles__item {
    display: block;
    text-align: center;
    margin-bottom: 25px;
  }
  .profiles .container .social .profiles__item .profiles__photo,
  .profiles__people {
    margin: 0 auto;
  }
  .profiles .container .social .profiles__item {
  }
  .profiles .container .social .profiles__item .profiles__socialNetworks {
    position: static;
    margin: 0 auto;
  }
  .header__content h1 {
    font-size: 36px;
  }
  .profiles
    .container
    .social
    .profiles__item
    .profiles__people
    .profiles__name
    h3 {
    margin-top: 10px;
  }
  .clients .clients__text p.clients__quote {
    font-size: 20px;
    line-height: 25px;
  }
  .clients .clients__text p.clients__signature {
    max-width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
  }
  .clients .clients__text {
    display: block;
    width: 100%;
    height: auto;
    padding: 31px 14px;
    text-align: justify;
    max-width: 100%;
  }
  .clients .clients__text p.clients__quote {
    max-width: 900px;
  }
  footer .container .footer__contacts {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  footer .container .footer__contacts .location__box {
    width: 100%;
    padding-bottom: 15px;
  }
  footer .container .footer__contacts .footer__networcs {
    padding-bottom: 25px;
  }
  .header__nav .header__menu.active > a.header__menuItem {
    margin: 6px 0;
    padding: 0;
  }
  .header__nav .header__menu.active {
    padding: 10px 0 10px;
  }
}
